<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="well">
      <div id="leaderboard" class="text-center">
        <h1>TOP 10</h1>
        <table>
          <thead>
            <tr>
              <th>PLAYER</th>
              <th>WINS</th>
            </tr>
          </thead>
        
          <tbody>
            <% @users_w_game_counts.each do |user| %>
              <tr>
                <td><%= link_to user.name, user %></td>
                <td><%= user.games_count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <hr>
        <%= link_to "New Game", new_user_game_path(user_id: current_user.id), class: "btn btn-success" if user_signed_in? %>
      </div>
    </div>
  </div>
</div>
  

