<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <div class="well">
      <div id="gallows-container" class="text-center">
        <%= image_tag("gallows_0.png") %>
      </div>
      <div id="secret-word-container" class="text-center">
        <br>
        <% @new_secret_word.split('').each { |secret_letter| %>
          <span class="hidden-letter">__</span>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <div class="well">
      <%= render 'form', game: @game %>
    </div>
  </div>
</div>
